<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - GraphiCode</title>
    </head>
    <body class = "bg-graphicode_purple-500">

        <nav class = "bg-graphicode_purple-700/80">
            <a href = "index.html">
                <img src = "../assets/icons/faviconWhite.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header mb-40" id = "graphicodeHeader">
            <div class = "flex items-center justify-center">
                <article>
                    <img class = "w-full md:w-11/12 2xl:w-4/5 mx-auto" src = "../assets/icons/graphicodeNoBg.svg" alt="Logo GraphiCode">
                </article>
            </div>
        </header>

        <section class = "fade" id = "messages">
            <article class = "messageSender">
                <figure class = "messageSticker fade">
                    <img src = "../assets/icons/feis.png" alt = "Feis">
                </figure>
                <div class = "messageContent fade">
                    <figure class = "messageBubble">
                        <svg class = "absolute right-0 top-1/2 -translate-y-1/2 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.11 26.74"><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><g id="MW1KEY.tif"><path class = "fill-graphicode_purple-900" d="M242.11,26.44a9.24,9.24,0,0,1-7.52-1.64,2.12,2.12,0,0,0-2.85-.14,13.38,13.38,0,0,1-7.6,2.08H14C6.92,26.73,1.62,22.51.28,16A13.19,13.19,0,0,1,7.87,1.22,14.84,14.84,0,0,1,13.94,0Q119,0,224.09,0c8.26,0,13.95,5.76,14,14,0,1.25.06,2.5,0,3.75C237.93,21.09,238.54,24.08,242.11,26.44Z"/></g></g></g></svg>
                        <p class = "z-10">Marco Facecchia - Developer</p>
                    </figure>
                </div>
            </article>
            <article>
                <figure class = "messageSticker fade">
                    <img src = "../assets/icons/gigi.png" alt = "Gigi">
                </figure>
                <div class = "messageContent fade">
                    <figure class = "contactIcon from-slate-400 to-slate-600">
                        <img src = "../assets/icons/gigiContactIcon.png">
                    </figure>
                    <figure class = "messageBubble">
                        <svg class = "absolute right-0 top-1/2 -translate-y-1/2 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.11 26.74"><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><g id="MW1KEY.tif"><path class = "fill-graphicode_purple-700" d="M0,26.44A9.24,9.24,0,0,0,7.52,24.8a2.12,2.12,0,0,1,2.85-.14A13.38,13.38,0,0,0,18,26.74H228.12c7.07,0,12.37-4.22,13.71-10.75a13.19,13.19,0,0,0-7.59-14.76A14.84,14.84,0,0,0,228.17,0Q123.1,0,18,0C9.76,0,4.07,5.77,4,14c0,1.25-.06,2.5,0,3.75C4.18,21.09,3.57,24.08,0,26.44Z"/></g></g></g></svg>
                        <p class = "z-10">Luigi Ciavarella - Designer</p>
                    </figure>
                </div>
            </article>
            <article>
                <figure class = "messageSticker fade">
                    <img src = "../assets/icons/paky.png" alt = "Paky">
                </figure>
                <div class = "messageContent fade">
                    <figure class = "contactIcon from-yellow-200 to-yellow-300">
                        <img src = "../assets/icons/pakyContactIcon.png">
                    </figure>
                    <figure class = "messageBubble">
                        <svg class = "absolute right-0 top-1/2 -translate-y-1/2 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.11 26.74"><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><g id="MW1KEY.tif"><path class = "fill-graphicode_purple-700" d="M0,26.44A9.24,9.24,0,0,0,7.52,24.8a2.12,2.12,0,0,1,2.85-.14A13.38,13.38,0,0,0,18,26.74H228.12c7.07,0,12.37-4.22,13.71-10.75a13.19,13.19,0,0,0-7.59-14.76A14.84,14.84,0,0,0,228.17,0Q123.1,0,18,0C9.76,0,4.07,5.77,4,14c0,1.25-.06,2.5,0,3.75C4.18,21.09,3.57,24.08,0,26.44Z"/></g></g></g></svg>
                        <p class = "z-10">Pasquale Ficelo - Developer</p>
                    </figure>
                </div>
            </article>
        </section>

        <section class = "graphicodeDefinition">
            <article class = "fade">
                <h1>Chi siamo</h1>
                <p class = "text-justify">GraphiCode è una startup dinamica specializzata nello sviluppo di siti web e applicazioni all'avanguardia. Offriamo soluzioni personalizzate per siti web statici e dinamici, utilizzando le tecnologie più avanzate per garantire performance eccellenti e un'esperienza utente superiore. Che si tratti di creare un sito web elegante e reattivo o di sviluppare un'applicazione complessa e interattiva, il nostro team di esperti è pronto a trasformare le tue idee in realtà digitali. Affidati a GraphiCode per ottenere soluzioni innovative e su misura, capaci di distinguerti nel panorama digitale.</p>
            </article>
            <article class = "fade" id = "graphicodeContacts">
                <h1>Contattaci</h1>
                <div>
                    <p>Luigi Ciavarella - Designer</p>
                    <a href = "tel:393928593681" title = "Contatta Pasquale Ficelo su Instagram - Developer">
                        <img src = "../assets/icons/phonePurple.svg" alt = "Phone">
                        <span>+39 392 859 3681</span>
                    </a>
                </div>
                <div>
                    <p>Pasquale Ficelo - Developer</p>
                    <a href = "https://instagram.com/pasquale_ficelo" title = "Contatta Pasquale Ficelo su Instagram - Developer">
                        <img src = "../assets/icons/instagramPurple.svg" alt = "Instagram">
                        <span>pasquale_ficelo</span>
                    </a>
                </div>
                <div>
                    <p>Marco Facecchia - Developer</p>
                    <a href = "https://github.com/mfacecchia" title = "Visualizza i progetti di Marco Facecchia su GitHub - Developer">
                        <img src = "../assets/icons/githubPurple.svg" alt = "GitHub">
                        <span>mfacecchia</span>
                    </a>
                </div>
            </article>
        </section>

        <section class = "mb-20">
            <div title = "Torna all'inizio" class = "backToStartBtn" role = "button" onclick = "window.scrollTo(undefined, 0)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-graphicode_purple-900" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
            </div>
        </section>

        <footer class = "bg-graphicode_purple-700/80">
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagramWhite.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebookWhite.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedinWhite.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/faviconWhite.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/fade.js"></script>
    </body>
</html>