<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - GraphiCode</title>
    </head>
    <body class = "bg-graphicode_purple-500">

        <nav class = "bg-graphicode_purple-700/80">
            <a href = "index.html">
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header">
            <div class = "flex items-center justify-center !bg-transparent">
                <img class = "!block w-full" src = "../assets/icons/graphicodeNoBg.svg" alt="Logo GraphiCode">
            </div>
        </header>

        <section class = "text-graphicode_purple-900 space-y-24 mb-56">
            <article class = "fade">
                <h1>Chi siamo</h1>
                <p class = "text-justify">GraphiCode è una startup dinamica specializzata nello sviluppo di siti web e applicazioni all'avanguardia. Offriamo soluzioni personalizzate per siti web statici e dinamici, utilizzando le tecnologie più avanzate per garantire performance eccellenti e un'esperienza utente superiore. Che si tratti di creare un sito web elegante e reattivo o di sviluppare un'applicazione complessa e interattiva, il nostro team di esperti è pronto a trasformare le tue idee in realtà digitali. Affidati a GraphiCode per ottenere soluzioni innovative e su misura, capaci di distinguerti nel panorama digitale.</p>
            </article>
            <article id = "graphicodeContacts">
                <h1>Contattaci</h1>
                <div>
                    <p>Luigi Ciavarella - Designer</p>
                    <a href = "https://instagram.com/pasquale_ficelo" title = "Contatta Pasquale Ficelo su Instagram - Developer">
                        <img src = "../assets/icons/phonePurple.svg" alt = "Phone">
                        <span>+39 392 859 3681</span>
                    </a>
                </div>
                <div>
                    <p>Pasquale Ficelo - Developer</p>
                    <a href = "https://instagram.com/pasquale_ficelo" title = "Contatta Pasquale Ficelo su Instagram - Developer">
                        <img src = "../assets/icons/instagramPurple.svg" alt = "Instagram">
                        <span>pasquale_ficelo</span>
                    </a>
                </div>
                <div>
                    <p>Marco Facecchia - Developer</p>
                    <a href = "https://github.com/mfacecchia" title = "Visualizza i progetti di Marco Facecchia su GitHub - Developer">
                        <img src = "../assets/icons/githubPurple.svg" alt = "GitHub">
                        <span>mfacecchia</span>
                    </a>
                </div>
            </article>
        </section>

        <footer class = "bg-graphicode_purple-700/80">
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagram_white.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebook_white.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedin_white.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/script.js"></script>
    </body>
</html>