<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Luigi Ciavarella's Website</title>
    </head>
    <body>

        <nav>
            <img src = "../assets/icons/favicon.svg" alt = "Logo gigi">
        </nav>
        
        <section id = "logo" class = "h-[500px] w-full flex flex-col justify-center items-center gap-y-7">
            <img class = "h-32 w-auto" src = "../assets/icons/logo_large.svg" alt = "Logo Gigi">
            <div class = "flex justify-center gap-5">
                <a href = "" class = "sectionLink">Logofolio</a>
                <a href = "" class = "sectionLink">Branding</a>
                <a href = "" class = "sectionLink">Social Media</a>
                <a href = "" class = "sectionLink">Logo Motion</a>
            </div>
        </section>
    </body>
</html>