<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Luigi Ciavarella's Website</title>
    </head>
    <body>

        <nav>
            <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
        </nav>
        
        <section id = "logo" class = "h-[500px] w-full flex flex-col justify-center items-center gap-y-7">
            <img class = "h-32 w-auto" src = "../assets/icons/logo_large.svg" alt = "Logo Gigi">
            <div class = "flex justify-center gap-5">
                <a href = "" class = "sectionLink"><img src = "../assets/icons/arrow.svg" alt = "Link a Logofolio">Logofolio</a>
                <a href = "" class = "sectionLink"><img src = "../assets/icons/arrow.svg" alt = "Link a Branding">Branding</a>
                <a href = "" class = "sectionLink"><img src = "../assets/icons/arrow.svg" alt = "Link a Social Media">Social Media</a>
                <a href = "" class = "sectionLink"><img src = "../assets/icons/arrow.svg" alt = "Link a Logo Motion">Logo Motion</a>
            </div>
        </section>

        <section id = "personalInfo" class = "h-auto grid grid-cols-2 gap-y-7 gap-x-14">
            <div>
                <h1>Ciao!</h1>
                <p>Mi chiamo <b>Luigi Ciavarella</b>, sono un ragazzo di 18 anni che si sta per diplomare in grafica e design all'Istituto L.I.S.S. Einaudi Grieco a Foggia. Attualmente mi sto specializzando in Web Design, soprattutto grazie a <b>progetti extra scolastici</b> come <a href = "https://nicosvape.it" target = "_blank">nicosvape.it</a> e <a href = "https://ideaverdegiardinaggio.it" target = "_blank">ideaverdegiardinaggio.it</a>, nei quali mi sono occupato della parte grafica. Nel corso dell'apprendimento ho anche avuto altre <b>esperienze lavorative</b>, tra cui lo sviluppo di flyer per eventi e per la parafarmacia Parmamedical a Foggia, e la gestione dei Social Network di un centro scommesse a Bisceglie in Via Panunzio. Tra i progetti portati avanti in collaborazione con la scuola, ho sviluppato poster per il Capitanatale, un evento in provincia di Foggia tenutosi nel 2023/24 a Palazzo Dogana.</p>
            </div>
            <div>
                <h1>Abilità</h1>
                <ul class = "grid grid-cols-2 w-11/12">
                    <li>Logo & Branding</li>
                    <li>Logo Motion</li>
                    <li>Social Media Content</li>
                    <li>Business Card</li>
                    <li>Brand Identity Buildup</li>
                    <li>Brochure/Flyer</li>
                    <li>Menu & Product</li>
                    <li>Presentation</li>
                    <li>Problem Solving</li>
                    <li>Creative Direction</li>
                </ul>
            </div>
            <div>
                <h1>Software</h1>
                <div id = "software" class = "grid grid-cols-2 gap-5">
                    <div>
                        <img src = "../assets/icons/illustrator.svg" alt = "Icona Adobe Illustrator">
                        <p>Adobe Illustrator</p>
                    </div>
                    <div>
                        <img src = "../assets/icons/photoshop.svg" alt = "Icona Adobe Photoshop">
                        <p>Adobe Photoshop</p>
                    </div>
                    <div>
                        <img src = "../assets/icons/lightroom.svg" alt = "Icona Adobe Lightroom">
                        <p>Adobe Lightroom</p>
                    </div>
                    <div>
                        <img src = "../assets/icons/indesign.svg" alt = "Icona Adobe InDesign">
                        <p>Adobe InDesign</p>
                    </div>
                    <div>
                        <img src = "../assets/icons/final_cut.svg" alt = "Icona Final Cut Pro">
                        <p>Final Cut Pro</p>
                    </div>
                </div>
            </div>
            <div>
                <h1>Istruzione</h1>
                <p class = "mb-0 leading-tight">Grafica e Telecomunicazioni</p>
                <sub class = "mt-0"><b>L.I.S.S. Einaudi Grieco, Foggia</b> | 2023/2024</sub>
            </div>
        </section>
        <hr>

        <footer>
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagram_white.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebook_white.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedin_white.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>
    </body>
</html>