<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - Manifesti</title>
    </head>
    <body>

        <nav>
            <a href = "index.html">
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header">
            <div class = "relative">
                <section>
                    <h1>Manifesti</h1>
                    <p>Progetti scolastici e extra scolastici</p>
                    <p>anni 2023/2024</p>
                </section>
                <img class = "absolute h-96 top-0 right-0" src = "../assets/icons/manifestiNoBg.svg">
                <hr>
            </div>
        </header>
        
        <footer>
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagram_white.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebook_white.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedin_white.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/script.js"></script>
    </body>
</html>