<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - Manifesti</title>
    </head>
    <body>

        <nav>
            <a href = "index.html">
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header">
            <div class = "relative flex items-center sm:block">
                <section>
                    <h1 class = "!text-5xl">Manifesti</h1>
                    <p>Progetti scolastici e extra scolastici</p>
                    <p>anni 2023/2024</p>
                </section>
                <img class = "absolute h-[480px] top-0 right-0" src = "../assets/icons/manifestiNoBg.png" alt = "Overview manifesti">
            </div>
            <hr class = "mt-11">
        </header>

        <section class = "projects-grid">
            <article class = "fade">
                <img src = "../assets/icons/capitanatale.jpeg" alt = "Manifesto Capitanatale">
                <div>
                    <h1>Capitanatale</h1>
                    <p>Progetto 2023/2024</p>
                    <p>Manifesto evento 70 x 100<br>realizzato per la proloco di Foggia</p>
                    <p>Evento tenutosi a Palazzo Dogana(FG)</p>
                </div>
            </article>
            <article class = "fade">
                <img src = "../assets/icons/corto.jpeg" alt = "Manifesto Un Cafone in Parlamento">
                <div>
                    <h1>Cortometraggio</h1>
                    <p>Progetto 2022/2023</p>
                    <p>Cortometraggio<br>un cafone in parlamento</p>
                    <p>Realizzazione di poster A3</p>
                </div>
            </article>
            <article class = "fade">
                <img src = "../assets/icons/social.jpeg" alt = "Manifesto Social Network">
                <div>
                    <h1>Social Network</h1>
                    <p>Progetto 2022/2023</p>
                    <p>Poster inerente al film<br>Social Network</p>
                </div>
            </article>
            <article class = "fade">
                <img src = "../assets/icons/violenzaDiGenere.jpeg" alt = "Manifesto Violenza di genere">
                <div>
                    <h1>Violenza di genere</h1>
                    <p>Progetto 2022/2023</p>
                    <p>
                        Progetto per l'evento Violenza di genere.
                        <br>
                        Evento tenuto alla biblioteca di Foggia
                    </p>
                </div>
            </article>
            <article class = "fade">
                <img src = "../assets/icons/dadaismo.jpeg" alt = "Manifesto Dadaismo">
                <div>
                    <h1>Dadaismo</h1>
                    <p>Progetto 2024</p>
                    <p>Poster A3 creato per la seconda prova simulata dell'esame di stato 2023/2024</p>
                </div>
            </article>
            <article class = "fade">
                <img src = "../assets/icons/sanValentino.jpeg" alt = "Manifesto San Valentino">
                <div>
                    <h1>San Valentino</h1>
                    <p>Progetto 2022/2023</p>
                    <p>Poster A3 San Valentino 2023</p>
                </div>
            </article>
            <article class = "fade">
                <img src = "../assets/icons/batmanSaulBass.jpeg" alt = "Manifesto Batman-Saul Bass">
                <div>
                    <h1>Saul Bass</h1>
                    <p>Progetto 2022/2023</p>
                    <p>Poster Batman utilizzando lo stile di Saul Bass</p>
                </div>
            </article>
        </section>

        <section class = "my-20">
            <div title = "Torna all'inizio" class = "backToStartBtn" role = "button" onclick = "window.scrollTo(undefined, 0)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-black/80" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
            </div>
        </section>
        
        <hr class = "mb-0">

        <footer>
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagram_white.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebook_white.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedin_white.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/fade.js"></script>
    </body>
</html>