<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - Fotografia</title>
    </head>
    <body>

        <nav>
            <a href = "index.html">
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header">
            <div class = "relative !bg-[#E0C797] text-[#573E1D]">
                <section>
                    <h1 class = "!text-5xl !bg-transparent !text-[#573E1D]">Fotografia</h1>
                    <p>Progetti scolastici e extra scolastici</p>
                    <p>anni 2022/2024</p>
                </section>
                <img class = "!block absolute h-1/2 min-h-52 max-h-72 bottom-0 -right-11" src = "../assets/icons/photosNoBg.png">
            </div>
            <hr class = "mt-11">
        </header>

        <section id = "photosEventsSelection">
            <div class = "bg-[#573E1D]">
                <b>Evento</b>
                <b>Gara del cuoco</b>
            </div>
            <div class = "bg-[#6B542F]">
                <b>Evento</b>
                <b>Festa dell'albero</b>
            </div>
            <div class = "bg-[#AF9660]">
                <b>Visita</b>
                <b>Peppe Zullo</b>
            </div>
            <div class = "bg-[#DFC696]">
                <b>Visita</b>
                <b>Saline Margherita di Savoia</b>
            </div>
            <div class = "bg-[#313131] items-center">
                <b>Vari</b>
            </div>
        </section>

        <section class = "my-20">
            <div title = "Torna all'inizio" class = "backToStartBtn" role = "button" onclick = "window.scrollTo(undefined, 0)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-black/80" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
            </div>
        </section>
        
        <hr class = "mb-0">

        <footer>
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagram_white.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebook_white.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedin_white.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/script.js"></script>
    </b