<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - Siti Web</title>
    </head>
    <body>

        <nav>
            <a href = "index.html">
                <img src = "../assets/icons/faviconWhite.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header" id = "websitesHeader">
            <div>
                <article>
                    <section class = "mt-[15%] sm:mt-0">
                        <h1>Siti Web</h1>
                        <p>Progetti scolastici e extra scolastici</p>
                        <p>anni 2023/2024</p>
                    </section>
                    <div class = "headerImage">
                        <img class = "h-full translate-x-11 lg:translate-x-0" src = "../assets/icons/websitesNoBg.png" alt = "Icona 3D Siti Web">
                    </div>
                </article>
            </div>
            <hr class = "mt-11">
        </header>

        <section class = "websiteContainer">
            <article>
                <div class = "websiteInformationContainer">
                    <header class = "bg-nutella_brown fade">
                        <i>Nutella Cereal Biscuits Website</i>
                    </header>
                    <main class = "fade">
                        <div class = "websiteFigures">
                            <figure class = "bg-nutella_brown">
                                <img class = "h-full" src = "../assets/icons/nutellaCBWebsitePreview.png" alt ="MacBook con Sito Web Nutella">
                            </figure>
                            <figure class = "square bg-slate-200">
                                <img class = "w-3/4" src = "../assets/icons/nutellaCBLogo.svg" alt = "Logo Nutella Cereal Biscuits">
                            </figure>
                        </div>
                        <aside>
                            <a class = "w-5 rotate-90 absolute top-4 right-4 sm:rotate-0" role = "button" href = "#nutellaCBWebsite">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-black/80" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
                            </a>
                            <p class = "w-4/5 text-sm text-justify leading-tight">Benvenuti sul nostro sito, dove scoprirai i Nutella Cereal Biscuits: cereali croccanti con la cremosità unica di Nutella. Inizia la giornata con una colazione irresistibile!</p>
                        </aside>
                    </main>
                </div>
                <figure class = "bg-nutella_brown items-center justify-end fade" id = "nutellaCBWebsite">
                    <img class = "w-[110%] max-w-none lg:max-w-[28rem] xl:w-[110%] xl:max-w-[31rem] 2xl:max-w-none 2xl:max-h-full" src = "../assets/icons/nutellaCBWebsitePreviewLarge.png" alt = "Overview Sito Web Nutella Cereal Biscuits">
                </figure>
            </article>
        </section>
        
        <section class = "websiteContainer">
            <header class = "hidden sm:flex bg-nicosVape_blue-900 fade w-full rounded-3xl text-white items-center justify-center box-border px-6 py-8 text-xl mb-2 xl:py-14">
                <i>Nico's Vape Website</i>
            </header>
            <article class = "sm:!flex-row-reverse">
                <div class = "websiteInformationContainer sm:!w-1/2 lg:!h-auto lg:aspect-square lg:self-start">
                    <header class = "bg-nicosVape_blue-900 fade sm:!hidden">
                        <i>Nico's Vape Website</i>
                    </header>
                    <main class = "fade sm:!h-[90%] sm:aspect-square">
                        <aside class = "lg:!h-3/5 2xl:!h-1/2">
                            <a class = "w-5 rotate-90 absolute top-4 right-4 sm:left-4" role = "button" href = "https://nicosvape.it" target = "_blank" title = "Vai a Nico's Vape">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-[#EB6E14]" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
                            </a>
                            <p class = "w-4/5 text-sm text-justify leading-tight sm:ml-auto">Benvenuti su NICO’s VAPE, il tuo negozio di fiducia per i migliori prodotti da svapo. Scopri la nostra gamma di liquidi e dispositivi di alta qualità.</p>
                        </aside>
                        <div class = "websiteFigures lg:!h-2/5 xl:!h-1/2">
                            <figure class = "bg-nicosVape_blue-700 justify-center sm:!hidden">
                                <img class = "h-full" src = "../assets/icons/thunder.svg" alt = "Lampo">
                            </figure>
                            <figure class = "square bg-slate-200 sm:ml-auto">
                                <img class = "w-3/4" src = "../assets/icons/nicosVapeLogo.svg" alt = "Logo Nico's Vape">
                            </figure>
                        </div>
                    </main>
                </div>
                <figure class = "!pb-0 pt-16 bg-nicosVape_blue-700 justify-start items-end fade lg:!w-1/2" id = "nicosVapeWebsite">
                    <img class = "block md:hidden w-[110%] max-w-none sm:w-[130%] sm:max-w-80" src = "../assets/icons/nicosVapeWebsitePreviewLarge.png" alt = "Overview Sito Web Nico's Vape">
                    <img class = "hidden md:block w-[130%] max-w-[31rem] lg:w-[140%] lg:max-w-[36rem] xl:w-[160%] 2xl:max-w-[44rem] 2xl:max-h-full" src = "../assets/icons/nicosVapeWebsitePreviewLargeDesktop.png" alt = "Overview Sito Web Nico's Vape">
                </figure>
            </article>
        </section>
        
        <section class = "websiteContainer">
            <article>
                <div class = "websiteInformationContainer">
                    <header class = "bg-ideaVerde_green-900 fade">
                        <i>Idea Verde Website</i>
                    </header>
                    <main class = "fade">
                        <div class = "websiteFigures">
                            <figure class = "bg-slate-200 justify-center">
                                <img class = "w-3/4" src = "../assets/icons/ideaVerdeLogo.svg" alt = "Logo Idea Verde">
                            </figure>
                        </div>
                        <aside>
                            <a class = "w-5 rotate-90 absolute top-4 right-4 sm:rotate-0" role = "button" href = "https://ideaverdegiardinaggio.it" target = "_blank" title = "Vai a Idea Verde">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-ideaVerde_green-700" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
                            </a>
                            <p class = "w-4/5 text-sm text-justify leading-tight">Benvenuti su Idea Verde, il tuo partner per progetti di giardinaggio su misura. Richiedi un preventivo personalizzato per la cura e la trasformazione del tuo spazio verde.</p>
                        </aside>
                    </main>
                </div>
                <figure class = "!pb-0 pt-16 bg-ideaVerde_green-700 justify-end items-end fade" id = "ideaVerdeWebsite">
                    <img class = "w-[125%] max-w-none translate-x-[5%] xl:max-w-[32rem] xl:w-[130%] 2xl:max-w-none 2xl:max-h-full" src = "../assets/icons/ideaVerdeWebsitePreviewLarge.png" alt = "Overview Sito Web Idea Verde">
                </figure>
            </article>
        </section>

        <section class = "my-20">
            <div title = "Torna all'inizio" class = "backToStartBtn" role = "button" onclick = "window.scrollTo(undefined, 0)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-black/80" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
            </div>
        </section>
        
        <hr class = "mb-0">

        <footer>
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagramWhite.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebookWhite.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedinWhite.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/faviconWhite.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/fade.js"></script>
    </body>
</html>