<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "../assets/icons/favicon.svg">
        <link rel = "stylesheet" href = "../style/style.css">

        <title>Gigi Grafica - Siti Web</title>
    </head>
    <body>

        <nav>
            <a href = "index.html">
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </a>
        </nav>
        
        <header class = "project-header">
            <div class = "relative flex items-center sm:block !bg-[#858FDA] text-white">
                <section>
                    <h1 class = "!text-5xl !bg-transparent">Siti Web</h1>
                    <p>Progetti scolastici e extra scolastici</p>
                    <p>anni 2023/2024</p>
                </section>
                <img class = "absolute h-[480px] top-0 right-0" src = "../assets/icons/manifestiNoBg.svg">
            </div>
            <hr class = "mt-11">
        </header>

        <section class = "!px-0">
            <article class = "w-full flex flex-col items-center justify-center gap-2">
                <div class = "flex flex-col gap-2 w-full h-[400px] rounded-3xl">
                    <header class = "w-full h-1/3 rounded-3xl bg-nutella_brown text-white flex flex-col items-start justify-center box-border px-6 fade text-xl">
                        <i>Nutella Cereal Biscuits Website</i>
                    </header>
                    <div class = "w-full h-full rounded-3xl bg-gray-300 box-border p-2 flex flex-col gap-2 fade">
                        <div class = "w-full h-2/5 rounded-3xl flex gap-x-2">
                            <div class = "w-full h-full rounded-3xl bg-nutella_brown flex overflow-hidden">
                                <img class = "h-full" src = "../assets/icons/nutellaCBWebsitePreview.svg">
                            </div>
                            <div class = "w-auto h-full bg-slate-200 aspect-square rounded-3xl flex items-center justify-center">
                                <img class = "w-3/4" src = "../assets/icons/nutellaCBLogo.svg">
                            </div>
                        </div>
                        <div class = "h-full w-full rounded-3xl bg-slate-200 box-border p-7 overflow-y-scroll overflow-x-hidden flex flex-col items-start justify-center relative">
                            <a class = "w-5 rotate-90 absolute top-4 right-4" role = "button" href = "#nutellaCBWebsite">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs><style>.cls-1{fill:#FF0000;}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
                            </a>
                            <p class = "w-4/5 text-sm text-justify leading-tight">Benvenuti sul nostro sito, dove scoprirai i Nutella Cereal Biscuits: cereali croccanti con la cremosità unica di Nutella. Inizia la giornata con una colazione irresistibile!</p>
                        </div>
                    </div>
                </div>
                <div class = "w-full box-border py-16 bg-nutella_brown rounded-3xl overflow-visible flex justify-end items-center fade" id = "nutellaCBWebsite">
                    <img class = "w-[110%] max-w-none" src = "../assets/icons/nutellaCBWebsitePreviewLarge.svg">
                </div>
            </article>
        </section>
        
        <section class = "!px-0 mt-52">
            <article class = "w-full flex flex-col items-center justify-center gap-2">
                <div class = "flex flex-col gap-2 w-full h-[400px] rounded-3xl">
                    <header class = "w-full h-1/3 rounded-3xl bg-nicosVape_blue-900 text-white flex flex-col items-start justify-center box-border px-6 fade text-xl">
                        <i>Nico's Vape Website</i>
                    </header>
                    <div class = "w-full h-full rounded-3xl bg-gray-300 box-border p-2 flex flex-col gap-2 fade">
                        <div class = "h-full w-full rounded-3xl bg-slate-200 box-border p-7 overflow-y-scroll overflow-x-hidden flex flex-col items-start justify-center relative">
                            <a class = "w-5 rotate-90 absolute top-4 right-4" role = "button" href = "https://nicosvape.it" target = "_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-[#EB6E14]" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
                            </a>
                            <p class = "w-4/5 text-sm text-justify leading-tight">Benvenuti su NICO’s VAPE, il tuo negozio di fiducia per i migliori prodotti da svapo. Scopri la nostra gamma di liquidi e dispositivi di alta qualità.</p>
                        </div>
                        <div class = "w-full h-2/5 rounded-3xl flex gap-x-2">
                            <div class = "w-full h-full rounded-3xl bg-nicosVape_blue-700 flex justify-center overflow-hidden">
                                <img class = "h-full" src = "../assets/icons/thunder.svg">
                            </div>
                            <div class = "w-auto h-full bg-slate-200 aspect-square rounded-3xl flex items-center justify-center">
                                <img class = "w-3/4" src = "../assets/icons/nicosVapeLogo.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "w-full box-border pt-16 bg-nicosVape_blue-700 rounded-3xl overflow-visible flex justify-start items-end fade" id = "nicosVapeWebsite">
                    <img class = "w-[110%] max-w-none" src = "../assets/icons/nicosVapeWebsitePreviewLarge.svg">
                </div>
            </article>
        </section>
        
        <section class = "!px-0 mt-52">
            <article class = "w-full flex flex-col items-center justify-center gap-2">
                <div class = "flex flex-col gap-2 w-full h-[400px] rounded-3xl">
                    <header class = "w-full h-1/3 rounded-3xl bg-ideaVerde_green-900 text-white flex flex-col items-start justify-center box-border px-6 fade text-xl">
                        <i>Idea Verde Website</i>
                    </header>
                    <div class = "w-full h-full rounded-3xl bg-gray-300 box-border p-2 flex flex-col gap-2 fade">
                        <div class = "w-full h-2/5 rounded-3xl flex gap-x-2">
                            <div class = "w-full h-full rounded-3xl bg-slate-200 flex justify-center overflow-hidden">
                                <img class = "w-3/4" src = "../assets/icons/ideaVerdeLogo.svg">
                            </div>
                        </div>
                        <div class = "h-full w-full rounded-3xl bg-slate-200 box-border p-7 overflow-y-scroll overflow-x-hidden flex flex-col items-start justify-center relative">
                            <a class = "w-5 rotate-90 absolute top-4 right-4" role = "button" href = "https://ideaverdegiardinaggio.it" target = "_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="fill-ideaVerde_green-700" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
                            </a>
                            <p class = "w-4/5 text-sm text-justify leading-tight">Benvenuti su Idea Verde, il tuo partner per progetti di giardinaggio su misura. Richiedi un preventivo personalizzato per la cura e la trasformazione del tuo spazio verde.</p>
                        </div>
                    </div>
                </div>
                <div class = "w-full box-border pt-16 bg-ideaVerde_green-700 rounded-3xl overflow-visible flex justify-end items-end fade" id = "ideaVerdeWebsite">
                    <img class = "w-[130%] max-w-none translate-x-[6%] translate-y-[2%]" src = "../assets/icons/ideaVerdeWebsitePreviewLarge.svg">
                </div>
            </article>
        </section>

        <section class = "my-20">
            <div title = "Torna all'inizio" class = "backToStartBtn" role = "button" onclick = "window.scrollTo(undefined, 0)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 22.62"><defs><style>.cls-1{fill:#FF0000;}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M11.31,0A11.31,11.31,0,1,0,22.62,11.31,11.31,11.31,0,0,0,11.31,0Zm7.85,11.25a1.22,1.22,0,0,1-.13.47,1.16,1.16,0,0,1-.29.37l-6.65,5.69a1.21,1.21,0,0,1-1.7-.13,1.21,1.21,0,0,1,.13-1.7l4.18-3.57h-10a1.2,1.2,0,1,1,0-2.4h9.91l-4-3.29A1.2,1.2,0,0,1,10.37,5a1.22,1.22,0,0,1,1.7-.17l6.62,5.39a1.23,1.23,0,0,1,.47,1Z"/></g></g></svg>
            </div>
        </section>
        
        <hr class = "mb-0">

        <footer>
            <section>
                <div id = "social">
                    <a href = "https://instagram.com/_luigi_ciava_">
                        <img src = "../assets/icons/instagram_white.svg" alt = "Instagram">
                        <p>_luigi_ciava_</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/facebook_white.svg" alt = "Facebook">
                        <p>Luigi Ciavarella</p>
                    </a>
                    <a href = "">
                        <img src = "../assets/icons/linkedin_white.svg" alt = "LinkedIn">
                        <p>Luigi Ciavarella</p>
                    </a>
                </div>
                <img src = "../assets/icons/favicon_white.svg" alt = "Logo Gigi">
            </section>
            <section class = "text-center font-light">
                <p>Copyright © 2024 GraphiCode. Tutti i diritti riservati.</p>
            </section>
        </footer>

        <script src = "../script/script.js"></script>
    </body>
</html>