@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'LeagueSpartan';
        src: url('../assets/fonts/LeagueSpartan-VariableFont_wght.ttf');
        font-display: swap;
    }
    *{
        @apply scroll-smooth;
    }
    body{
        @apply bg-gray-100 pt-20;
    }
    h1, p, b, a, li{
        font-family: 'LeagueSpartan'
    }
    h1{
        @apply font-bold text-2xl;
    }
    a{
        @apply font-semibold;
    }
    nav{
        @apply w-full px-11 py-3 box-border flex justify-start items-center backdrop-blur-md bg-black/80 fixed top-0 left-0 z-50;
    }
    footer{
        @apply w-full mt-36 px-11 pt-11 pb-3 box-border bg-black/80 flex flex-col items-center justify-center space-y-5 text-white;
    }
    nav img, footer img{
        @apply h-11 w-auto;
    }
    footer section:first-child{
        @apply flex items-center justify-between px-0;
    }
    section{
        @apply w-1/2 px-11 box-border mx-auto;
    }
    ul li{
        @apply list-disc;
    }
    hr{
        @apply my-56 box-border mx-11 bg-black border-none h-[1.4px] rounded-full;
    }
    .fade{
        @apply translate-y-32 opacity-0 transition-all duration-1000;
    }
    .fade.active{
        @apply translate-y-0 opacity-100;
    }
    #logo{
        height: calc(100vh - 100px);
    }
}

@layer components{
    a:hover{
        @apply animate-pulse;
    }
    .sectionLink{
        @apply px-3 py-0 border border-solid border-black rounded-full flex justify-center items-center;
    }
    .sectionLink img{
        @apply h-5;
    }
    #personalInfo > div{
        @apply space-y-8
    }
    #personalInfo article{
        @apply space-y-2
    }
    #personalInfo div p{
        @apply text-justify leading-tight;
    }
    #personalInfo div img{
        @apply size-6 mt-0;
    }
    #software div{
        @apply flex gap-x-2 justify-start items-center;
    }
    #software div p{
        @apply font-semibold;
    }
    #social{
        @apply flex flex-col justify-center items-start gap-5;
    }
    #social a{
        @apply flex gap-x-2 items-center font-normal;
    }
    #social img{
        @apply h-7;
    }
    .project{
        @apply my-11;
    }
    .project header{
        @apply space-y-5;
    }
    .project h1{
        @apply text-5xl;
    }
    .project article{
        @apply w-full flex flex-wrap gap-x-4 gap-y-7 mt-11;
    }
    .project article a{
        @apply bg-cover bg-center rounded-2xl h-80 box-border p-4 shadow-lg flex justify-between transition-all duration-150;
        @apply hover:scale-[102%] hover:shadow-2xl;
    }
    .project article a main{
        @apply space-y-0 leading-tight;
    }
    .project article a svg{
        @apply size-5;
    }
    .project-header{
        @apply w-full h-[500px];
    }
    .project-header div{
        @apply h-80 p-11 box-border bg-[#a4a5a5];
    }
    .project-header h1{
        @apply text-4xl inline-block pr-3 bg-[#313131] text-white;
    }
    .project-header p{
        @apply text-xl;
    }
    .projects-grid{
        @apply w-2/5 grid grid-cols-1 justify-center gap-11;
    }
    .projects-grid article{
        @apply flex justify-between items-center;
    }
    .projects-grid article:nth-child(even){
        @apply flex-row-reverse;
    }
    .projects-grid article p{
        @apply text-slate-600 leading-tight;
    }
    .projects-grid article div{
        @apply space-y-3;
    }
    .projects-grid article > *{
        @apply w-2/5;
    }
    .projects-grid article img{
        @apply rounded-xl shadow-lg;
    }
    .backToStartBtn{
        @apply -rotate-90 ml-auto w-11;
        @apply hover:animate-pulse;
    }
}