@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'LeagueSpartan';
        src: url('../assets/fonts/LeagueSpartan-VariableFont_wght.ttf');
        font-display: swap;
    }
    body{
        @apply bg-gray-100;
    }
    h1, p, b, a, li{
        font-family: 'LeagueSpartan'
    }
    h1{
        @apply font-bold text-2xl;
    }
    a{
        @apply font-semibold;
    }
    nav{
        @apply w-full px-11 py-3 box-border flex justify-start items-center backdrop-blur-md bg-black/80 fixed top-0 left-0;
    }
    footer{
        @apply w-full px-11 pt-11 pb-3 box-border bg-black/80 flex flex-col items-center justify-center space-y-5 text-white;
    }
    nav img, footer img{
        @apply h-11 w-auto;
    }
    footer section:first-child{
        @apply flex items-center justify-between px-0;
    }
    section{
        @apply w-full px-11 box-border;
    }
    ul li{
        @apply list-disc;
    }
    hr{
        @apply my-11 box-border mx-11 bg-black border-none h-[1.4px] rounded-full;
    }
}

@layer components{
    a:hover{
        @apply animate-pulse;
    }
    .sectionLink{
        @apply px-3 py-0 border border-solid border-black rounded-full flex justify-center items-center;
    }
    .sectionLink img{
        @apply h-5;
    }
    #personalInfo > div{
        @apply space-y-2
    }
    #personalInfo div p{
        @apply text-justify leading-tight;
    }
    #personalInfo div img{
        @apply size-6 mt-0;
    }
    #software div{
        @apply flex gap-x-2 justify-start items-center;
    }
    #software div p{
        @apply font-semibold;
    }
    #social{
        @apply flex flex-col justify-center items-start gap-5;
    }
    #social a{
        @apply flex gap-x-2 items-center font-normal;
    }
    #social img{
        @apply h-7;
    }
}