@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'LeagueSpartan';
        src: url('../assets/fonts/LeagueSpartan-VariableFont_wght.ttf');
        font-display: swap;
    }
    body{
        @apply bg-gray-100;
    }
    h1, p, b, a{
        font-family: 'LeagueSpartan'
    }
}

@layer components{
    .sectionLink{
        @apply px-3 py-0 border border-solid border-black rounded-full flex justify-center items-center;
    }
}